<footer class="py-8 py-md-11 @@classList">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-3">

        <!-- Brand -->
        <img src="@@webRoot/assets/img/brand.svg" alt="..." class="footer-brand img-fluid mb-2">

        <!-- Text -->
        <p class="text-gray-600 mb-2">
          BufferMint (OPC) Pvt. Ltd.
        </p>

        <!-- Social -->
        <ul class="list-unstyled list-inline list-social mb-6 mb-md-0">
          <li class="list-inline-item list-social-item mr-3">
            <a href="https://www.facebook.com/buffermint/" class="text-decoration-none">
              <img src="@@webRoot/assets/img/icons/social/facebook.svg" class="list-social-icon" alt="...">
            </a>
          </li>
          <li class="list-inline-item list-social-item mr-3">
            <a href="https://twitter.com/BufferMint" class="text-decoration-none">
              <img src="@@webRoot/assets/img/icons/social/twitter.svg" class="list-social-icon" alt="...">
            </a>
          </li>
        </ul>

      </div>
      <div class="col site-links">
        <div class="row">
        <!-- <div class="offset-md-4 col-6 col-md-2">
          <h4 class="text-gray-800 ml-md-auto my-1 my-md-auto text-md-right">Work</h4>
        </div>
        <div class="col-6 col-md-2">
            <h4 class="text-gray-600 ml-md-auto my-1 my-md-auto text-md-right">Blog</h4>
        </div> -->
        <div class="col-6 col-md-3">
          <a href="/#what-we-do">
            <h4 class="text-gray-600 ml-md-auto my-1 my-md-auto text-md-right">What we do?</h4>
          </a>
        </div>
        <div class="col-6 col-md-3">
          <a href="/#pricing">
            <h4 class="text-gray-600 ml-md-auto my-1 my-md-auto text-md-right">Pricing</h4>
          </a>
        </div>
        <div class="col-6 col-md-3">
          <a href="/careers.html">
            <h4 class="text-gray-600 ml-md-auto my-1 my-md-auto text-md-right">Careers</h4>
          </a>
        </div>
        <div class="col-6 col-md-3">
          <a href="/contact-us.html">
            <h4 class="text-gray-600 ml-md-auto my-1 my-md-auto text-md-right">Contact</h4>
          </a>
        </div>
        <div class="col-12 text-md-right mt-5">
          <span class="text-gray-600 ml-md-auto my-1 my-md-auto">
            © Copyright <script>document.write(new Date().getFullYear())</script> BufferMint
          </span>
        </div>
      </div>
      </div>

    </div> <!-- / .row -->
  </div> <!-- / .container -->
</footer>