<div class="row align-items-center justify-content-center min-vh-100 py-8 py-md-11">
    <div class="col-12 col-md-8 col-lg-7 mt-auto text-center hero-section">
      <!-- Heading -->
      <!-- <h1 class="display-2 mb-0 font-weight-bold position-absolute px-3 px-lg-0">
          We <span class="text-primary">Design, Build & Launch</span> products for founders.
      </h1> -->

    <h1 class="first-typed-container display-3 mb-0 font-weight-bold position-absolute px-3 px-lg-0">
        <span id="first-typed"></span>
    </h1>
    <div id="first-typed-text" class="d-none">
        <span>We are <span class="text-primary">Buffer</span><span class="text-logo-secondary">Mint</span>.</span>
    </div>

    <h2 class="second-typed-container display-3 mb-0 font-weight-bold position-absolute px-3 px-lg-0">
        <span id="second-typed"></span>
    </h2>
    <div id="second-typed-text" class="d-none">
        <span>We <span class="text-primary">Design, Build & Launch</span> products for founders.</span>
    </div>

    <h2 class="third-typed-container text-gray-800 mb-0 position-absolute px-3 px-lg-0">
      <span id="third-typed"></span>
    </h2>

      <div id="third-typed-text" class="d-none">
        <p>We support and accelerate companies that want to do good in the world.</p>
        <p>And help replace those that do not.</p>
        <p>So, another development agency?</p>
        <p>Not quite!</p>
        <p>Say you have an idea...</p>
        <p>An idea to improve how something is done right now.</p>
        <p>What we do is...</p>
        <p>Take your idea to market ASAP.</p>
        <p>In 45 days or less.</p>
        <p>On a FIXED budget.</p>
        <p>How we do this?</p>
        <p>Keep scrolling to know more...</p>
      </div>
    </div>

    <div class="col-12 mt-auto text-center">

      <!-- Button -->
      <a class="btn btn-primary btn-rounded-circle shadow" data-toggle="smooth-scroll" data-offset="0" href="#what-we-do">
        <i class="fe fe-arrow-down"></i>
      </a>

    </div>
  </div> <!-- / .row -->
